.main-screen {
    background: url(/images/home-menu-bg-overlay.svg), linear-gradient(to right bottom, #77717e, #c9a8a9);
    background-size: cover;
    height: 100vh;
}
.clearboth{
    clear: both;
}