.main-screen {
    background: url(/images/home-menu-bg-overlay.svg), linear-gradient(to right bottom, #77717e, #c9a8a9);
    background-size: cover;
    height: 100vh;
    font-family: "Khmer OS"
}
.clearboth{
    clear: both;
}
.main-page-content{
  font-family: "Khmer OS Bokor";
  min-height: calc(100vh - 130px);
  background-color: #f8f9fa;
}

.content-background-color{
  background-color: #FFFFFF;
}

body {
  font-family: "Khmer OS Bokor";
}
.head-title {
  font-weight: bold;
  color: #000;

}
.btn-wrapper{
  padding-left: 2px;
}

.margin-right-20-percentage{
  margin-right: 20px;
}

.width-40-percentage{
  width: 40%;
}
.width-60-percentage{
  width: 60%;
}

.margin-top-25{
  margin-top: 25px;
}
.display-inline-block{
  display: inline-block;
}

.full-with{
  width: 100%;
}

.full-content{
  display: inline-block;
  width: 100%;
}
.full-container{
  display: inline-block;
  width: 100%;
  min-height: calc(100vh - 150px);
}

.user-select-none{
  user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
}

.content-product-full-height{
  height: calc(100vh - 150px)
}

.content-loading{
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
}
.active-item-product{
  background-color: #ccc;
}

.form-content-detail{
  display: inline-block;
  width: 100%;
}

.select-content-inline{
  width: 68%;
  height: auto !important;
  padding: 3px !important;
}

.label-with{
  width: 30%;
}

.content-label{
  max-width: 8%;
}

.content-input{
  max-width: 60%;
}

.margin-btn{
  margin-left: 0;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-header-title{
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 900;
}

.margin-span-btn{
  margin-right: 5px;
}

.margin-5{
  margin-top: 5px;
}

.font-700{
  font-weight: 700;
}

.content-field-purchase{
  margin-bottom: 10px;
  width: 40%;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.width-10-percentage{
  width: 10%;
}
