.main-screen {
    background: url(/images/home-menu-bg-overlay.svg), linear-gradient(to right bottom, #77717e, #c9a8a9);
    background-size: cover;
    height: 100vh;
    font-family: "Khmer OS"
}
.clearboth{
    clear: both;
}
.main-page-content{
  font-family: "Khmer OS Bokor";
  min-height: calc(100vh - 130px);
  background-color: #f8f9fa;
}

.content-background-color{
  background-color: #FFFFFF;
}

body {
  font-family: "Khmer OS Bokor";
}
.head-title {
  font-weight: bold;
  color: #000;

}
.btn-wrapper{
  padding-left: 2px;
}

.margin-right-20-percentage{
  margin-right: 20px;
}

.width-40-percentage{
  width: 40%;
}
.width-60-percentage{
  width: 60%;
}

.width-50-percentage{
  width: 50%;
}

.width-45-percentage{
  width: 45%;
}

.width-35-percentage{
  width: 35%;
}

.margin-top-25{
  margin-top: 25px;
}
.display-inline-block{
  display: inline-block;
}

.full-with{
  width: 100%;
}

.full-content{
  display: inline-block;
  width: 100%;
}
.full-container{
  display: inline-block;
  width: 100%;
  min-height: calc(100vh - 150px);
}

.user-select-none{
  user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
}

.content-product-full-height{
  height: calc(100vh - 150px)
}

.content-loading{
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
}
.active-item-product{
  background-color: #ccc;
}

.form-content-detail{
  display: inline-block;
  width: 100%;
}

.select-content-inline{
  width: 68%;
  height: auto !important;
  padding: 3px !important;
}

.label-with{
  width: 30%;
}

.content-label{
  max-width: 8%;
}

.content-input{
  max-width: 60%;
}

.margin-btn{
  margin-left: 0;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-header-title{
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 900;
}

.padding-top-20{
  padding-top: 20px;
}
.margin-span-btn{
  margin-right: 5px;
}

.margin-5{
  margin-top: 5px;
}

.font-700{
  font-weight: 700;
}

.content-field-purchase{
  margin-bottom: 10px;
  width: 40%;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.width-10-percentage{
  width: 10%;
}

.content-pagination{
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  float: right;
}

.calculator-product-content{
  margin-top: 15px;
  display: inline-block;
  overflow-y: auto;
  height: 400px;
  width: 100%;
}

.input-no-background{
  background: none !important;
  border: none;
}

.label-margin-top{
  margin-top: 7px;
}

.input-scanning:focus{
  outline: none;
  box-shadow: none;
  border: none;
}

.font-size-28 {
  font-size: 28px !important;
}

.color-white {
  color: white;
}

.justify-content-center{
  justify-content: center;
}

#modal-submit-payment .table-payment th {
  border-top: none ;
}

#modal-submit-payment .table-payment td {
  border-top: none ;
}

.input-content {
  /*padding: 4px;*/
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.form-row-content-detail{
  display:inline-block;
  /*width: 100%;*/
  overflow: hidden;
}
.form-column-label{
  display: inline-block;
  width: 135px;
  overflow: hidden;
}

.form-column-input {
  display: inline-block;
  overflow: hidden;
  width: 190px;
}

.display-none{
  display: none;
}

.container-row-form{
  display: inline-block;
  overflow: hidden;
}

.content-logout{
  display: inline-block;
  float: right;
}

.content-logout .ul-style{
  list-style: none;
  color: #ffffff;
  margin: 0;
}

.content-logout .ul-style .li-style{
  display: inline-block;
  line-height: 45px;
  cursor: pointer;
  padding: 0 15px;
  height: 50px;
}
.button-no-background{
  background: none;
  border: none;
}

.button-no-background:hover,
.button-no-background:focus,
.button-no-background:active,
.button-no-background:focus-visible{
  background: none;
  border: none;
  outline: none ;
  box-shadow: none;
}
